
<div class="grid">
    <p-toast></p-toast>
   
    <p-table 
    [value]="cursos" 
    dataKey="id" 
    [loading]="loading"
    [tableStyle]="{'min-width': '10rem'}"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="curso">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                          {{curso.id}} 
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            {{curso.nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td>
                    <div class="flex align-items-center">
                        <p-button icon="pi pi-check"></p-button>
                        <p-button icon="pi pi-trash"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>